input {
    width: 500px;
    height: 25px;
    margin: 10px;
    margin-bottom: 0;
}

.add-button {
    border-radius: 5px;
    background-color: #fc999b;
    font-size: 20px;
    color: white;
    width: 80px;
    height: 35px;
    margin-left: 10px;
}
#header{
    text-align: center;
}
#title{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: "Times New Roman";
}
#addbox{
    text-align: center;
    margin: 5px;
}
#description{
    margin-left: 10px;
    font-size: 20px;
    font-family: "Times New Roman";
}

#footer{
    text-align: center;
}
.footer-div-button{
    margin: 10px;
    border-width: 0;
    font-size: 20px;
    color: black;
    background-color: #f0f2f5;
}
#active {
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: left;
}

.check {
    margin: 5px;
    size: 30px;
}

.pink {
    width: 90%;
    margin: 5px;
    background: #f4ecec;
    display: inline-block;

}
.normal {
    display: inline-block;
    width: 90%;
    margin: 5px;

}

.div-body-data-table-dl {
    width: 100%;
    height: auto;
    margin: 5px;
    text-align: left;
    font-size: 20px;
}

.div-body-data-table-dl-checkbox {
    margin: 5px;
}
.div-body-data-table-dl-del-index{
    color: lightgrey;
}
.div-body-data-table-dl-del {
    color: lightgrey;
    text-decoration: line-through;
}
.footer-span{
    display: block;
    text-align: center;
}
#foot-button{
    margin: 5px;
}
.del-button{
    border-width:0;
    font-size: 20px;
    color:  #fc999b;
    background-color: white;
}
.home-div-dt-button{
    border-width: 0;
    font-size:15px;
    margin-left: 10%;
    margin-bottom: 10px;
    background-color: white;
    color: #fc999b;
}
.home-div-un{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 30px;
}
.home-div-button{
    border-width: 2px;
    font-size:15px;
    margin-left: 80%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    color: purple;
}
.home-div-dl-bar{
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 30px;
    color: red;
}
.home-div-dl{
    border-width: 1px;
    border-radius: 15px;
}